<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linjun.dao.ApiIdleRalateMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.linjun.entity.IdleRalateEntity" id="idleRelateMap">
        <result property="id" column="id"/>
        <result property="idle_id" column="idle_id"/>
        <result property="idle_ralateid" column="idle_ralateid"/>
    </resultMap>

    <select id="queryObject" resultMap="idleRelateMap">
        select * from idle_ralate where id = #{value}
    </select>

    <select id="queryList" resultMap="idleRelateMap">
        select
        <if test="fields != null and fields != ''">
            ${fields}
        </if>
        <if test="fields == null or fields == ''">
            *
        </if>
        from idle_ralate
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from idle_ralate
    </select>

    <insert id="save" parameterType="com.linjun.entity.IdleRalateEntity" useGeneratedKeys="true" keyProperty="id">
        insert into idle_ralate
        (
        `idle_id`,
        `idle_ralateid`
        )
        values
        (
        #{idle_id},
        #{idle_ralateid}
        )
    </insert>

    <update id="update" parameterType="com.linjun.entity.IdleRalateEntity">
        update idle_ralate
        <set>
            <if test="idle_id != null">`idle_id` = #{idle_id},</if>
            <if test="idle_ralateid != null">`idle_ralateid` = #{idle_ralateid}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from idle_ralate where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from idle_ralate where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>