<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linjun.dao.ApiPartTimeMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.linjun.entity.PartTimeEntity" id="partTimeMap">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="title" column="title"/>
        <result property="address" column="address"/>
        <result property="context" column="context"/>
        <result property="view_quality" column="view_quality"/>
        <result property="like_quality" column="like_quality"/>
        <result property="status" column="status"/>
        <result property="category_id" column="category_id"/>
        <result property="create_time" column="create_time"/>
        <result property="port_volum" column="port_volum"/>
        <result property="volum" column="volum"/>
    </resultMap>

    <select id="queryObject" resultMap="partTimeMap">
        select * from parttime where id = #{value}
    </select>

    <select id="queryList" resultMap="partTimeMap">
        select * from parttime
        <if test="userId != null and userId != null">
            and userId = #{userId}
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from parttime
    </select>

    <insert id="save" parameterType="com.linjun.entity.PartTimeEntity" useGeneratedKeys="true" keyProperty="id">
        insert into parttime
        (
        `userId`,
        `title`,
        `address`,
        `context`,
        `view_quality`,
        `like_quality`,
        `status`,
        `category_id`,
        `create_time`,
        `port_volum`,
        `volum`
        )
        values
        (
        #{userId},
        #{title},
        #{address},
        #{context},
        #{view_quality},
        #{like_quality},
        #{status},
        #{category_id},
        #{create_time},
        #{port_volum},
        #{volum}
        )
    </insert>

    <update id="update" parameterType="com.linjun.entity.PartTimeEntity">
        update parttime
        <set>
            <if test="userId != null">`userId` = #{userId},</if>
            <if test="title != null">`title` = #{title},</if>
            <if test="address != null">`address` = #{address},</if>
            <if test="context != null">`context` = #{context},</if>
            <if test="view_quality != null">`view_quality` = #{view_quality},</if>
            <if test="like_quality != null">`like_quality` = #{like_quality},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="category_id != null">`category_id` = #{category_id},</if>
            <if test="create_time != null">`create_time` = #{create_time},</if>
            <if test="port_volum != null">`port_volum` = #{port_volum},</if>
            <if test="volum != null">`volum` = #{volum}</if>

        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from parttime where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from parttime where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>