<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linjun.dao.ApiUserQQMapper">

    <select id="queryObject" resultType="com.linjun.entity.UserQQEntity">
        select * from user_qq where id = #{value}
    </select>

    <select id="queryList" resultType="com.linjun.entity.UserQQEntity">
        select * from user_qq
        <where>
            <if test="key != null and key.trim() != ''">
                and `username` like concat('%',#{key},'%') or `operation` like concat('%',#{key},'%')
            </if>
            <if test="operation != null and operation.trim() != ''">
                `operation` like concat('%',#{operation},'%')
            </if>
        </where>
        order by id desc
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from user_qq
        <where>
            <if test="key != null and key.trim() != ''">
                `username` like concat('%',#{key},'%') or `operation` like concat('%',#{key},'%')
            </if>
            <if test="operation != null and operation.trim() != ''">
                and `operation` like concat('%',#{operation},'%')
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.linjun.entity.UserQQEntity" useGeneratedKeys="true" keyProperty="id">
        insert into user_qq
        (
        `userId`,
        `openid`,
        `is_yellow_year_vip`,
        `ret`,
        `figureurl_qq_1`,
        `figureurl_qq_2`,
        `nickname`,
        `yellow_vip_level`,
        `msg`,
        `figureurl_1`,
        `vip`,
        `level`,
        `is_yellow_vip`,
        `gender`,
        `figureurl`
        )
        values
        (
        #{userId},
        #{openid},
        #{is_yellow_year_vip},
        #{ret},
        #{figureurl_qq_1},
        #{figureurl_qq_2},
        #{nickname},
        #{yellow_vip_level},
        #{msg},
        #{figureurl_1},
        #{vip},
        #{level},
        #{is_yellow_vip},
        #{gender},
        #{figureurl}
        )
    </insert>

    <update id="update" parameterType="com.linjun.entity.UserQQEntity">
        update user_qq
        <set>
            <if test="userId != null">`userId` = #{userId}, </if>
            <if test="openid != null">`openid` = #{openid}, </if>
            <if test="is_yellow_year_vip != null">`is_yellow_year_vip` = #{is_yellow_year_vip}, </if>
            <if test="ret != null">`ret` = #{ret}, </if>
            <if test="figureurl_qq_1 != null">`figureurl_qq_1` = #{figureurl_qq_1},</if>
            <if test="figureurl_qq_2 != null">`figureurl_qq_2` = #{figureurl_qq_2},</if>
            <if test="nickname != null">`nickname` = #{nickname},</if>
            <if test="yellow_vip_level != null">`yellow_vip_level` = #{yellow_vip_level},</if>
            <if test="msg != null">`msg` = #{msg},</if>
            <if test="figureurl_1 != null">`figureurl_1` = #{figureurl_1},</if>
            <if test="vip != null">`vip` = #{vip},</if>
            <if test="level != null">`level` = #{level},</if>
            <if test="is_yellow_vip != null">`is_yellow_vip` = #{is_yellow_vip},</if>
            <if test="gender != null">`gender` = #{gender},</if>
            <if test="figureurl != null">`figureurl` = #{figureurl} </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from user_qq where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from user_qq where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>