<!DOCTYPE html>
<html>
<head>
    <title>用户</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <Row :gutter="16">
            <el-col span="4">
                <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
            </el-col>
            <el-button type="success" @click="query">查询</el-button>
            #if($shiro.hasPermission("searchhistory:save"))
            <el-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</el-button>
            #end
            #if($shiro.hasPermission("searchhistory:update"))
            <el-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</el-button>
            #end
            #if($shiro.hasPermission("searchhistory:delete"))
            <el-button type="danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</el-button>
            #end
        </Row>
        <el-table
                @select="handleSelection"
                @select-all="handleSelectionAll"
                :data="user"
                style="width: 100%"
                :height="tableHeight"
                border stripe fit
                highlight-current-row style="width: 100%">
            <el-table-column align="center"
                             type="selection"
                             width="55">
            </el-table-column>
            <el-table-column
                    width="55px"
                    align="center"
                    label="序号"
                    type="index"
            ></el-table-column>

            <el-table-column
                    prop="keyword"
                    label="关键字"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="addTime"
                    label="搜索时间"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="user_name"
                    label="会员"
                    width="120">
            </el-table-column>

        </el-table>
        <div  style="text-align: center;position: center">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page.sync="listQuery.page"
                           :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit"
                           layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
    </div>

    <el-card v-show="!showList">
        <p slot="title">{{title}}</p>
        <el-form :model="searchHistory" :rules="rules" ref="ruleForm" label-width="80px">
            <el-form-item label="关键字" prop="keyword">
                <el-input v-model="searchHistory.keyword" placeholder="关键字"/>
            </el-form-item>
            <el-form-item label="搜索来源，如PC、小程序、APP等" prop="from">
                <el-input v-model="searchHistory.username" placeholder="搜索来源，如PC、小程序、APP等"/>
            </el-form-item>
            <el-form-item label="搜索时间" prop="addTime">
                <el-input v-model="searchHistory.gender" placeholder="性别"/>
            </el-form-item>

            <el-form-item label="会员Id" prop="user_id">
                <el-input v-model="searchHistory.user_id" placeholder="会员Id"/>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="handleSubmit('ruleForm')">提交</el-button>
                <el-button type="warning" @click="reload" style="margin-left: 8px"/>
                返回</i-button>
                <el-button type="info" @click="handleReset('ruleForm')" style="margin-left: 8px">重置</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</div>

<script src="${rc.contextPath}/js/shop/searchhistory.js?_${date.systemTime}"></script>
</body>
</html>