<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="statics/css/font-awesome.min.css">
    <link rel="stylesheet" href="statics/css/style.css">
    <link rel="stylesheet" href="statics/css/main.css">
    <link rel="stylesheet" href="statics/css/login.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="statics/libs/html5shiv.min.js"></script>
    <script src="statics/libs/respond.min.js"></script>
</head>
<body>

<div id="app">
    <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-position="left" label-width="0px" class="demo-ruleForm login-container">
        <h3 class="title">管理员登入</h3>
        <el-form-item prop="account">
            <el-input type="text" v-model="ruleForm2.username" auto-complete="off" placeholder="账号"></el-input>
        </el-form-item>
        <el-form-item prop="checkPass">
            <el-input type="password" v-model="ruleForm2.password" auto-complete="off" placeholder="密码"></el-input>
        </el-form-item>
        <el-form-item prop="checkPass">
            <div style="display: inline-block;width: 100px;" >
                <el-input v-model="ruleForm2.captcha" @on-enter="login"
                          placeholder="验证码"/>
            </div>
            <div style="display: inline-block;width: 100px;margin-left: 10px" >
                <img style="height: 40px;width: 96px;border-radius: 4px;" alt="如果看不清楚，请单击图片刷新！" title="点击刷新"
                     class="pointer" :src="src" @click="refreshCode">
            </div>
        </el-form-item>
        <el-checkbox v-model="checked" checked class="remember">记住密码</el-checkbox>
        <el-form-item style="width:100%;">
            <el-button type="primary" style="width:100%;" @click="login" :loading="logining">登录</el-button>
        </el-form-item>
    </el-form>
    <div class="signup-footer">
        <div class="div_foot">
            2017~2018 &copy;  版权所有. All Rights Reserved.
        </div>
    </div>
</div>
<style>
    .login-container {
        /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
         -webkit-border-radius: 5px;
        border-radius: 5px;
         -moz-border-radius: 5px;
        background-clip: padding-box;
        margin: 180px auto;
        width: 350px;
        padding: 35px 35px 15px 35px;
        background: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 25px #cac6c6;
    }

    .title {
        margin: 0px auto 40px auto;
        text-align: center;
        color: #505458;
    }

    .remember {
        margin: 0px 0px 35px 0px;
    }
    .div_foot {
        position: absolute;
        height: 50px;
        text-align: center;
        line-height: 50px;
        width: 100%;
    }

</style>
</body>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.3.2/lib/index.js"></script>
<script src="statics/libs/jquery.min.js"></script>
<script src="statics/libs/bootstrap.min.js"></script>
<script src="statics/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="statics/libs/fastclick.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: function() {
            const validateAccount = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('账号不能为空'));
                } else {
                    callback();
                }
            };
            const validatePass = (rule, value, callback) => {
                if (value.length < 6) {
                    callback(new Error('密码不能小于6位'));
                } else {
                    callback();
                }
            };
            const  validatecode=(rule, value, callback) => {
                if (!value) {
                    callback(new Error('验证码不能为空'));
                } else {
                    callback();
                }
            };
            return {
                logining: false,
                ruleForm2: {
                    username: '',
                    password: '',
                    captcha: '',
                },

                src: 'captcha.jpg',
                rules2: {
                    username: [
                        { required: true, trigger: 'blur' ,validator: validateAccount},
                        //{ validator: validaePass }
                    ],
                    password: [
                        { required: true, trigger: 'blur',validator: validatePass },
                        //{ validator: validaePass2 }
                    ],
                    captcha: [
                        {required: true, trigger: 'blur',validator: validatecode},
                    ]
                },
                checked: true
            }

        },
        beforeCreate: function () {
            if (self != top) {
                top.location.href = self.location.href;
            }
        },
        methods: {
            refreshCode: function () {
                this.src = "captcha.jpg?t=" + $.now();
            },
            login: function (event) {
                if (this.ruleForm2.username == '') {
                    this.$message.warning("用户名为空");
                    return false;
                }
                if (this.ruleForm2.password == '') {
                    this.$message.warning("密码为空");
                    return false;
                }
                if (this.ruleForm2.captcha == '') {
                    this.$message.warning("验证码为空");
                    return false;
                }
                var data = "username=" + this.ruleForm2.username + "&password=" + this.ruleForm2.password + "&captcha=" + this.ruleForm2.captcha;
                $.ajax({
                    type: "POST",
                    url: "sys/login",
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 200) {//登录成功
                            parent.location.href = 'index.html';
                        } else {
                            vm.refreshCode();
                            this.$message.error(result.msg);
                        }
                    }
                });
            }
        }
    })
</script>

</html>