<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linjun.dao.AddressMangerMapper">

    <resultMap type="com.linjun.entity.AddressMangerEntity" id="addressMap">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="user_name" column="user_name"/>
        <result property="tel_number" column="tel_number"/>
        <result property="postal_code" column="postal_code"/>
        <result property="national_code" column="national_code"/>
        <result property="province_name" column="province_name"/>
        <result property="city_name" column="city_name"/>
        <result property="country_name" column="country_name"/>
        <result property="detail_info" column="detail_info"/>
        <result property="is_default" column="is_default"/>
    </resultMap>

    <select id="queryObject" resultType="com.linjun.entity.AddressMangerEntity">
		select
        address_manger.id,
		address_manger.userId,
		address_manger.user_name,
		address_manger.tel_number,
		address_manger.postal_code,
		address_manger.national_code,
		address_manger.province_name,
		address_manger.city_name,
		address_manger.country_name,
		address_manger.detail_info,
		address_manger.is_default,
        mongo_user.user_name mongo_user_name
        from address_manger LEFT JOIN mongo_user ON address_manger.userId = mongo_user.id
		where address_manger.id = #{id}
	</select>

    <select id="queryList" resultType="com.linjun.entity.AddressMangerEntity">
        select
        address_manger.id,
        address_manger.userId,
        address_manger.user_name,
        address_manger.tel_number,
        address_manger.postal_code,
        address_manger.national_code,
        address_manger.province_name,
        address_manger.city_name,
        address_manger.country_name,
        address_manger.detail_info,
        mongo_user.user_name mongo_user_name
        from address_manger LEFT JOIN mongo_user ON address_manger.userId = mongo_user.id
        WHERE 1=1
        <if test="userName != null and userName != ''">
            AND address_manger.user_name LIKE concat('%', #{userName},'%')
        </if>
        <if test="telNumber != null and telNumber != ''">
            AND address_manger.tel_number LIKE concat('%', #{telNumber},'%')
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from address_manger
        WHERE 1=1
        <if test="userName != null and userName != ''">
            AND address_manger.user_name LIKE concat('%', #{userName},'%')
        </if>
        <if test="telNumber != null and telNumber != ''">
            AND address_manger.tel_number LIKE concat('%', #{telNumber},'%')
        </if>
    </select>

    <insert id="save" parameterType="com.linjun.entity.AddressMangerEntity" useGeneratedKeys="true" keyProperty="id">
        insert into address_manger(
        `userId`,
        `user_name`,
        `tel_number`,
        `postal_Code`,
        `national_Code`,
        `province_Name`,
        `city_Name`,
        `county_Name`,
        `detail_Info`,
        `is_default`)
        values(
        #{userId},
        #{userName},
        #{telNumber},
        #{postalCode},
        #{nationalCode},
        #{provinceName},
        #{cityName},
        #{countyName},
        #{detailInfo},
        #{is_default})
    </insert>

    <update id="update" parameterType="com.linjun.entity.AddressMangerEntity">
        update address_manger
        <set>
            <if test="userId != null">`userId` = #{userId}, </if>
            <if test="userName != null">`user_name` = #{userName}, </if>
            <if test="telNumber != null">`tel_number` = #{telNumber}, </if>
            <if test="postalCode != null">`postal_Code` = #{postalCode}, </if>
            <if test="nationalCode != null">`national_Code` = #{nationalCode}, </if>
            <if test="provinceName != null">`province_Name` = #{provinceName}, </if>
            <if test="cityName != null">`city_Name` = #{cityName}, </if>
            <if test="countyName != null">`county_Name` = #{countyName}, </if>
            <if test="detailInfo != null">`detail_Info` = #{detailInfo},</if>
            <if test="is_default != null">`is_default` = #{is_default}</if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete">
		delete from address_manger where id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from address_manger where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>