<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linjun.dao.IdleMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.linjun.entity.IdleEntity" id="idleMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="title" column="title"/>
        <result property="address" column="address"/>
        <result property="context" column="context"/>
        <result property="price" column="price"/>
        <result property="view_quality" column="view_quality"/>
        <result property="like_quality" column="like_quality"/>
        <result property="status" column="status"/>
        <result property="categoryName" column="categoryName"/>
        <result property="create_time" column="create_time"/>
    </resultMap>

    <select id="queryObject" resultMap="idleMap">
    select a.* ,b.user_name as name,c.name as categoryName from idle a left join mongo_user b on a.userId = b.id
        left join idle_category c on a.category_id=c.id
   where id = #{value}
    </select>

    <select id="queryList" resultMap="idleMap">
        select a.* ,b.user_name as name,c.name as categoryName from idle a left join mongo_user b on a.userId = b.id
        left join idle_category c on a.category_id=c.id
        <if test="userId != null and userId != null">
            and userId = #{userId}
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from idle
    </select>

    <insert id="save" parameterType="com.linjun.entity.IdleEntity" useGeneratedKeys="true" keyProperty="id">
        insert into idle
        (
        `userId`,
        `title`,
        `address`,
        `context`,
        `price`,
        `view_quality`,
        `like_quality`,
        `jingdu`,
        `weidu`,
        `status`,
        `category_id`,
        `create_time`
        )
        values
        (
        #{userId},
        #{title},
        #{address},
        #{context},
        #{price},
        #{view_quality},
        #{like_quality},
        #{jingdu},
        #{weidu},
        #{status},
        #{category_id},
        #{create_time}
        )
    </insert>

    <update id="update" parameterType="com.linjun.entity.IdleEntity">
        update idle
        <set>
            <if test="userId != null">`userId` = #{userId},</if>
            <if test="title != null">`title` = #{title},</if>
            <if test="address != null">`address` = #{address},</if>
            <if test="context != null">`context` = #{context},</if>
            <if test="price != null">`price` = #{price},</if>
            <if test="view_quality != null">`view_quality` = #{view_quality},</if>
            <if test="like_quality != null">`like_quality` = #{like_quality},</if>
            <if test="jingdu != null">`jingdu` = #{jingdu},</if>
            <if test="weidu != null">`weidu` = #{weidu},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="category_id != null">`category_id` = #{category_id},</if>
            <if test="create_time != null">`create_time` = #{create_time}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from idle where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from idle where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>