<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linjun.dao.InviteCodeMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.linjun.entity.InviteCodeEntity" id="inviteCodeMap">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="is_multi" column="is_multi"/>
        <result property="code" column="code"/>
        <result property="start_time" column="start_time"/>
        <result property="edd_time" column="edd_time"/>

    </resultMap>

    <select id="queryObject" resultMap="inviteCodeMap">
        select * from invite_code where id = #{value}
    </select>

    <select id="queryList" resultMap="inviteCodeMap">
        select
        <if test="fields != null and fields != ''">
            ${fields}
        </if>
        <if test="fields == null or fields == ''">
            *
        </if>
        from invite_code
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from invite_code
    </select>

    <insert id="save" parameterType="com.linjun.entity.InviteCodeEntity" useGeneratedKeys="true" keyProperty="id">
        insert into invite_code
        (
        `userId`,
        `is_multi`,
        `code`,
        `start_time`,
        `edd_time`
        )
        values
        (
        #{userId},
        #{is_multi},
        #{code},
        #{start_time},
        #{edd_time}
        )
    </insert>

    <update id="update" parameterType="com.linjun.entity.InviteCodeEntity">
        update invite_code
        <set>
            <if test="userId != null">`userId` = #{userId},</if>
            <if test="is_multi != null">`is_multi` = #{is_multi}</if>
            <if test="code!=null">`code`= #{code}</if>
            <if test="start_time != null">`start_time` = #{start_time},</if>
            <if test="edd_time != null">`edd_time` = #{edd_time}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from invite_code where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from invite_code where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>