<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linjun.dao.ReportMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.linjun.entity.ReportEntity" id="reportMap">
        <result property="id" column="id"/>
        <result property="is_reportid" column="is_reportid"/>
        <result property="reportid" column="reportid"/>
        <result property="report_type" column="report_type"/>
        <result property="report_reason" column="report_reason"/>
        <result property="report_fujia" column="report_fujia"/>
        <result property="status" column="status"/>
        <result property="create_time" column="create_time"/>
    </resultMap>

    <select id="queryObject" resultMap="reportMap">
        select * from report where msg_id = #{value}
    </select>

    <select id="queryList" resultMap="reportMap">
        select * from report
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by msg_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from report
    </select>

    <insert id="save" parameterType="com.linjun.entity.ReportEntity" useGeneratedKeys="true" keyProperty="msgId">
        insert into report(
        `is_reportid`,
        `reportid`,
        `report_type`,
        `report_reason`,
        `report_fujia`,
        `status`,
        `create_time` )
        values(
        #{is_reportid},
        #{report_type},
        #{report_reason},
        #{feedType},
        #{report_fujia},
        #{status},
        #{create_time}
        )
    </insert>

    <update id="update" parameterType="com.linjun.entity.ReportEntity">
        update report
        <set>
            <if test="is_reportid != null">`is_reportid` = #{is_reportid}, </if>
            <if test="reportid != null">`reportid` = #{reportid}, </if>
            <if test="report_type != null">`report_type` = #{report_type}, </if>
            <if test="report_reason != null">`report_reason` = #{report_reason}, </if>
            <if test="report_fujia != null">`report_fujia` = #{report_fujia}, </if>
            <if test="status != null">`status` = #{addTistatusme}, </if>
            <if test="create_time != null">`create_time` = #{create_time}</if>
        </set>
        where msg_id = #{msgId}
    </update>

    <delete id="delete">
        delete from report where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from report where id in
        <foreach item="msgId" collection="array" open="(" separator="," close=")">
            #{Id}
        </foreach>
    </delete>

</mapper>