<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linjun.dao.UserLevelMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.linjun.entity.UserLevelEntity" id="userLevelMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="queryObject" resultType="com.linjun.entity.UserLevelEntity">
        select * from user_level where id = #{value}
    </select>

    <select id="queryList" resultType="com.linjun.entity.UserLevelEntity">
        select * from user_level
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from user_level
    </select>

    <insert id="save" parameterType="com.linjun.entity.UserLevelEntity" useGeneratedKeys="true" keyProperty="id">
        insert into user_level
        (
        `name`,
        `description`
        )
        values
        (
        #{name},
        #{description}
        )
    </insert>

    <update id="update" parameterType="com.linjun.entity.UserLevelEntity">
        update user_level
        <set>
            <if test="name != null">`name` = #{name}, </if>
            <if test="description != null">`description` = #{description}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from user_level where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from user_level where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>