<!DOCTYPE html>
<html>
<head>
    <title>用户</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <el-col span="4">
                <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
            </el-col>
            <el-button type="success" @click="query">查询</el-button>
            <el-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</el-button>
            <el-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</el-button>
            <el-button type="danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</el-button>

        </Row>
        <el-table
                @select="handleSelection"
                @select-all="handleSelectionAll"
                :data="user"
                style="width: 100%"
                height="250"
                border stripe fit
                highlight-current-row style="width: 100%">
            <el-table-column align="center"
                             type="selection"
                             width="55">
            </el-table-column>
            <el-table-column
                    width="55px"
                    align="center"
                    label="序号"
                    type="index"
            ></el-table-column>

            <el-table-column align="center" width="100px" label="用户头像">
                <template scope="scope">
                    <img :src="scope.row.avatar" style="width: 64px;height: 64px;padding-top: 5px;"/>
                </template>
            </el-table-column>
            <el-table-column
                    prop="nickname"
                    label="昵称"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="名字"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="gender"
                    label="性别"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="levelName"
                    label="等级"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="school"
                    label="学校"
                    width="250">
            </el-table-column>
            <el-table-column
                    prop="major"
                    label="专业"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="infofull"
                    label="资料完整度"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="mobile"
                    label="电话"
                    width="120">`
            </el-table-column>
            <el-table-column
                prop="qq"
                label="QQ"
                width="120">`
        </el-table-column>
            <el-table-column
                    prop="parentUser"
                    label="邀请人"
                    width="120">`
            </el-table-column>
            <el-table-column
                    prop="registerIp"
                    label="注册IP地址"
                    width="300">
            </el-table-column>
            <el-table-column align="center" width="180px" label="生日" sortable>
                <template scope="scope">
                    {{scope.row.birthday | parseTime}}
                </template>

            </el-table-column>
            <el-table-column align="center" width="180px" label="注册时间" sortable>
                <template scope="scope">
                    {{scope.row.registerTime | parseTime}}
                </template>
                <el-table-column
                        prop="lastLoginIp"
                        label="登入IP地址"
                        width="300">
                </el-table-column>
            </el-table-column>
            <el-table-column align="center" width="180px" label="最后一次登入时间" sortable>
                <template scope="scope">
                    {{scope.row.lastLoginTime | parseTime}}
                </template>
            </el-table-column>

        </el-table>
        <div  style="text-align: center;position: center">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :current-page.sync="listQuery.page"
                           :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit"
                           layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </div>
    </div>

    <el-card v-show="!showList">
        <p slot="title">{{title}}</p>
        <el-form :model="user" :rules="rules" ref="ruleForm" label-width="80px">
            <el-form-item label="昵称" prop="nickname">
                <el-input v-model="user.nickname" placeholder="昵称"/>
            </el-form-item>
            <el-form-item label="名字" prop="username">
                <el-input v-model="user.username" placeholder="用户名字"/>
            </el-form-item>
            <el-form-item label="性别" prop="gender">
                <el-input v-model="user.gender" placeholder="性别"/>
            </el-form-item>
            <el-form-item label="生日" prop="birthday">
                <el-date-picker v-model="user.birthday" placeholder="使用时间"/>
            </el-form-item>
            <el-form-item label="等级" prop="levelName">
                <el-date-picker v-model="user.levelName" placeholder="等级"/>
            </el-form-item>
            <el-form-item label="学校" prop="school">
                <el-input v-model="user.school" placeholder="电话"/>
            </el-form-item>
            <el-form-item label="专业" prop="major">
                <el-input v-model="user.major" placeholder="电话"/>
            </el-form-item>
            <el-form-item label="资料完整度" prop="infofull">
            <i-input v-model="user.infofull" placeholder="电话"/>
           </el-form-item>
            <el-form-item label="QQ" prop="qq">
                <el-input v-model="user.qq" placeholder="QQ"/>
            </el-form-item>
            <el-form-item label="邀请人" prop="parentUser">
                <el-input v-model="user.parentUser" placeholder="邀请人"/>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="handleSubmit('ruleForm')">提交</el-button>
                <el-button type="warning" @click="reload" style="margin-left: 8px"/>
                返回</i-button>
                <el-button type="info" @click="handleReset('ruleForm')" style="margin-left: 8px">重置</el-button>
            </el-form-item>
        </el-form>
	</el-card>
</div>

<script src="${rc.contextPath}/js/shop/mongouser.js?_${date.systemTime}"></script>
</body>
</html>